/*.primary{
    color: #D90000;
}

.secondary{
    color: #FF2D00;
}

.accent{
    color: #FF8C00;
}

.accent2{
    color: #04756F;
}

.light-background-0{
    background-color: #E0E0E0;
}

.light-background-1{
    background-color: #f5f5f5;
}

.light-background-2{
    background-color: #fafafa;
}

.light-background-3{
    background-color: #ffffff;
}*/

.progress{
    height: 10px;
}

.link-no-color{
    color:#000000;
}

.lessons-row{
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    widows: 95%;
}

.lessons-card{
    margin: 0px;
    padding: 0px;
    width:96%;
    margin-left: 20px;
    cursor: pointer;
}

.cover{
    width:100%; 
    height:94%;
    background-image: url('/images/cover.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
