.course-header{
    background-image: url(dark-velvet/dark-velvet-css/images/comment-rowsubmit.png);
    background-size: cover;
    min-height: 16rem;
}

#overview {
    /*border-right: 0.2rem solid #e0e0e0;*/
    margin: 20px;
}

.progress{
    height: 10px;
}

.link-no-color{
    color:#000000;
}

.lessons-row{
    margin-bottom: 2px;
    margin-left: 0px;
    margin-right: 0px;
    widows: 95%;
}

.lessons-card{
    margin: 0px;
    padding: 0px;
    width:96%;
    margin-left: 20px;
    cursor: pointer;
}

