.course-header{
    background-image: url(dark-velvet/dark-velvet-css/images/comment-rowsubmit.png);
    background-size: cover;
    min-height: 16rem;
}

#overview {
    border-right: 0.2rem solid #e0e0e0;
    margin: 20px;
}

.progress{
    height: 10px;
}

#title-section {
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 4rem;
}

.course-sidebar {
    padding: 2rem;
}
.vertical-align {
    display: flex;
    align-items: center;
}

.card-inverse{
    background-image: url(dark-velvet/dark-velvet-css/images/comment-bg3.png);
    border-color: #2D333A;
}

.lesson-outline {
  background-image: url(dark-velvet/dark-velvet-css/images/comment-bg2.png);
  border-color: #424B56;
}

.lesson-status{
    color: #1bff08;
}

.lessons-block {
    padding: 0.2rem;
    margin: 0.1rem;
}