<div class="card blue-grey darken-1 side-nav " id="slide-out" style="width: 300px">
    <div class="card-content">
        <span class="card-title">Table of Contents</span>
        <div class="row">
            <course-contents courseId="1" isMainCoursePage="0"></course-contents>
        </div>
    </div>
</div>

<div class="fixed-action-btn horizontal" style="display:inline; top: 24px; right: 24px; height:50px;">
    <a class="btn-floating btn-large red" materialize="sideNav" [materializeParams]="[{edge:'right', closeOnClick:'true'}]" href="#" data-activates="slide-out"
    class="button-collapse">
    <i class="medium material-icons" style="color:grey;">toc</i>
    </a>
</div>
