<div *ngIf="isReady" class="card-panel1">
    <div class="row">
        <div *ngFor="let qtn of questions">
            <div class="card-panel">
                <a class="link-no-color" (click)="showQuestion(qtn)" style="cursor:pointer">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img [src]="qtn.authorImage" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s7">
                            <div class="row">
                                <h5>{{ qtn.title }}</h5>
                            </div>
                            <div class="row">
                                <p>{{ qtn.shortDescription }}</p>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="center-align">
                                <small><i class="tiny material-icons">schedule</i> {{ qtn.date | date }}</small>
                                <h5>{{ qtn.responses }}</h5>
                                <h6>Responses</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="center-align">
        <ul class="pagination">
            <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a>1</a></li>
            <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>