<div *ngIf="isReady" class="card-panel1">
    <div class="row">
        <div *ngFor="let qtn of questions">
            <div class="card-panel">
                <a class="link-no-color" (click)="showQuestion(qtn)" style="cursor:pointer">
                    <div class="row valign-wrapper">
                        <div class="col s2">
                            <img [src]="qtn.authorImage" alt="" class="circle responsive-img">
                        </div>
                        <div class="col s7">
                            <div class="row">
                                <h5>{{ qtn.title }}</h5>
                            </div>
                            <div class="row">
                                <p>{{ qtn.shortDescription }}</p>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="center-align">
                                <small><i class="tiny material-icons">schedule</i> {{ qtn.date | date }}</small>
                                <h5>{{ qtn.responses }}</h5>
                                <h6>Responses</h6>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="max!=0" class="center-align">
        <ul class="pagination">
            <li [class.active]="isLeftActive" [class.disabled]="!isLeftActive"><a (click)="onClickQuestions(false)"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a>{{ pageLabel }}</a></li>
            <li [class.active]="isRightActive" [class.disabled]="!isRightActive"><a (click)="onClickQuestions(true)"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </div>
</div>
<div *ngIf="!isReady" class="center-align">
    <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>