<div class="container">
    <div class="row">
        <div class="col s12 m9">
            <div class="row">
                <course-header></course-header>
            </div>
        </div>
        <div class="col s12 m3">
            <course-sidebar-details></course-sidebar-details>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m9">
            <div class="row">
                <course-main-section></course-main-section>
            </div>
            <div class="row">
                <course-feedback></course-feedback>
            </div>
        </div>
        <div class="col s12 m3">
            <course-sidebar-author></course-sidebar-author>
        </div>
    </div>
</div>