<header>
    <header-bar></header-bar>
</header>
<div *ngIf="isReady" class="container">
    <div class="row">
        <div class="col s12 m9">
            <div class="row">
                <course-header [courseId]="courseId"></course-header>
            </div>
        </div>
        <div class="col s12 m3">
            <course-sidebar-details [courseId]="courseId"></course-sidebar-details>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m9">
            <div class="row">
                <course-main-section [courseId]="courseId"></course-main-section>
            </div>
            <div class="row">
                <course-feedback [courseId]="courseId"></course-feedback>
            </div>
        </div>
        <div class="col s12 m3">
            <course-sidebar-author [courseId]="courseId"></course-sidebar-author>
        </div>
    </div>
</div>
<div *ngIf="!isReady" class="center-align" style="height:100%; background-color:#222222;">
    <div class="preloader-wrapper big active" style="position:fixed; top:45%; left:45%; width:100px; height:100px">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" style="margin-top: 0px;">
    <footer-bar></footer-bar>
</footer>