<header>
    <header-bar></header-bar>
</header>
<main>
    <div style="width:100%; height:94%; background-color:yellow;">

    </div>
    <div class="container">
        <div class="row center-align">
            <div class="col s12 m4">
                <p><i class="material-icons">menu</i><p>
                <p>one</p>
            </div>
            <div class="col s12 m4">
                <p><i class="material-icons">menu</i><p>
                <p>two</p>
            </div>
            <div class="col s12 m4">
                <p><i class="material-icons">menu</i><p>
                <p>three</p>
            </div>
        </div>
    </div>
    <div class="row white-text" style="background-color:blue;">
        <h3 class="center-align">Latest Course</h3>
    </div>
    <div class="row">
        <h3 class="center-align">Latest Challenges</h3>
    </div>
    <div class="row white-text" style="background-color:orange;">
        <h3 class="center-align">Latest Posts</h3>
    </div>
    <div class="row center-align">
        <a class="btn btn-large">Join Us</a>
    </div>
</main>
<footer class="page-footer" style="margin-top: 0px;">
    <footer-bar></footer-bar>
</footer>