<div *ngIf="isReady" class="card">
    <div class="card-content">
        <span class="card-title">About Author</span>
        <div class="divider"></div>

        <div class="row valign-wrapper">
            <div class="col s4">
                <img [src]="author.AuthorImage" alt="" class="circle responsive-img">
            </div>
            <div class="col s8">
                <h6>{{ author.AuthorName }}</h6>
            </div>
        </div>
        <p>{{ author.AuthorShortDescription }}</p>
    </div>
</div>