<div class="card-panel">
    <div class="row">
        <div>
            <div class="row" id="overview">
                <div class="col s12 m4 center-align">
                    <course-overview [courseId]="courseId"></course-overview>
                </div>
                <div class="col s12 m8">
                    <course-header-info [courseId]="courseId"></course-header-info>
                    <course-progressbar [courseId]="courseId"></course-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>