<div class="card-panel">
    <div class="row">
        <div class="valign-wrapper">
            <div class="row" id="overview">
                <div class="col s12 m4 center-align">
                    <course-overview></course-overview>
                </div>
                <div class="col s12 m8">
                    <course-header-info></course-header-info>
                    <course-progressbar></course-progressbar>
                </div>
            </div>
        </div>
    </div>
</div>