<header>
    <header-bar></header-bar>
</header>
<div class="container">
    <div class="row">
        <h3 class="center-align">Disclaimers</h3>
        <p>The information contained in this website, Sweety Technologies LLP, are strategies, tips and tricks that are recommendations
            by us, the owners of this website, and reading this website does not guarantee that one’s results will exactly
            mirror our own results. We, the owners of this website, have made all reasonable efforts to provide current and
            accurate information for the readers. We will not be held liable for any unintentional errors or omissions that
            may be found. The material in Sweety Magical Woks&nbsp;may include information, products, or services by third
            parties. Third Party materials comprise of the products and opinions expressed by their owners. As such, we do
            not assume responsibility or liability for any Third Party Material or opinions. The publication of such Third
            Party materials does not constitute my guarantee of any information, instruction, opinion, products or service
            contained within the Third Party Material. Use of recommended Third Party Material does not guarantee that your
            results, with Sweety Technologies LLP&nbsp;will mirror our own. Publication of such Third Party Material is simply
            a recommendation and expression of our own opinion of that material.</p>
        <p>No part of this website, Sweety Technologies LLP, shall be reproduced, transmitted or resold in whole or in part
            in any form, without the prior written consent of the us, the owners. All trademarks and registered trademarks
            appearing in Sweety Technologies LLP are the property of their respective owners. The information contained in
            this website is for informational purposes only. Please understand that there are some links contained in this
            website that I may benefit from financially. Users of this website are advised to do their own due diligence
            when it comes to making decisions. By reading and using the information from this website, you agree that us
            and our company are not responsible for the success or failure of your decisions relating to any information
            presented in this website.</p>
    </div>
</div>
<footer class="page-footer" style="margin-top: 0px;">
    <footer-bar></footer-bar>
</footer>