<header>
    <header-bar></header-bar>
</header>
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card pricing style-2">
                <div class="plan-title waves-effect waves-block waves-light blue-grey">
                    <h5 class="dark-grey-text">
                        <span class="plan">Features</span>
                    </h5>
                </div>
                <div class="price waves-effect waves-block waves-light blue-grey lighten-1">
                    <h4 class="dark-grey-text">
                        <span class="currency"><br></span>
                        <span class="amount"><br></span>
                        <span class="period"><br></span>
                    </h4>
                </div>
                <div class="card-content">
                    <ul class="collection" style="font-size: 15px">
                        <li materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="For per course plan, access only is given to bought course."
                            class="collection-item features tooltipped">Access All Courses<i class="material-icons right">info_outline</i></li>
                        <li materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="For per course plan, access only is given to bought course."
                            class="collection-item features">All Project files<i class="material-icons right">info_outline</i></li>
                        <li class="collection-item features">Watch on all devices</li>
                        <li class="collection-item features">Support for your queries</li>
                        <li class="collection-item features">Cancel Anytime</li>
                        <li class="collection-item features">Offline Viewing</li>
                    </ul>
                </div>
                <div class="plan-signup-btn">
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <div class="col s12 m2">
            <div class="card pricing style-2">
                <div class="plan-title waves-effect waves-block waves-light yellow darken-3">
                    <h5 class="dark-grey-text">
                        <span class="plan">Per Course</span>
                    </h5>
                </div>
                <div class="price waves-effect waves-block waves-light yellow darken-2">
                    <h4 class="dark-grey-text">
                        <span class="currency">INR </span>
                        <span class="amount">Per Course</span>
                        <span class="period"><br></span>
                    </h4>
                </div>
                <div class="card-content">
                    <ul class="collection center-align">
                        <li class="collection-item"><i class="material-icons" style="color:red">thumb_down</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:red">thumb_down</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:red">thumb_down</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:red">thumb_down</i></li>
                    </ul>
                    <div class="plan-signup-btn">
                        <a id="start-now-plus1" class="btn waves-effect waves-block waves-light no-margin white-text yellow darken-2" style="padding: 0"
                            href="#">
                            <span class="dark-grey-text">Sign Up</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m2">
            <div class="card pricing style-2">
                <div class="plan-title waves-effect waves-block waves-light teal">
                    <h5 class="dark-grey-text">
                        <span class="plan">Monthly</span>
                    </h5>
                </div>
                <div class="price waves-effect waves-block waves-light teal lighten-1">
                    <h4 class="dark-grey-text">
                        <span class="currency">INR </span>
                        <span class="amount">500</span>
                        <span class="period">/1 mo</span>
                    </h4>
                </div>
                <div class="card-content">
                    <ul class="collection center-align">
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:red">thumb_down</i></li>
                    </ul>
                    <div class="plan-signup-btn">
                        <a id="start-now-plus1" class="btn waves-effect waves-block waves-light no-margin white-text teal lighten-1" style="padding: 0"
                            href="#">
                            <span class="dark-grey-text">Sign Up</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m2">
            <div class="card pricing style-2 z-depth-5">
                <div class="plan-title waves-effect waves-block waves-light green darken-3">
                    <h5 class="dark-grey-text">
                        <span class="plan">Quarterly</span>
                    </h5>
                </div>
                <div class="price waves-effect waves-block waves-light green darken-2">
                    <h4 class="dark-grey-text">
                        <span class="currency">INR </span>
                        <span class="amount">1200</span>
                        <span class="period">/3 mo</span>
                    </h4>
                </div>
                <div class="card-content">
                    <ul class="collection center-align">
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                    </ul>
                    <div class="plan-signup-btn">
                        <a id="start-now-plus1" class="btn waves-effect waves-block waves-light no-margin white-text green darken-2" style="padding: 0"
                            href="#">
                            <span class="dark-grey-text">Sign Up</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m2">
            <div class="card pricing style-2">
                <div class="plan-title waves-effect waves-block waves-light red darken-3">
                    <h5 class="dark-grey-text">
                        <span class="plan">Yearly</span>
                    </h5>
                </div>
                <div class="price waves-effect waves-block waves-light red darken-2">
                    <h4 class="dark-grey-text">
                        <span class="currency">INR </span>
                        <span class="amount">4200</span>
                        <span class="period">/12 mo</span>
                    </h4>
                </div>
                <div class="card-content">
                    <ul class="collection center-align">
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                        <li class="collection-item"><i class="material-icons" style="color:green">thumb_up</i></li>
                    </ul>
                    <div class="plan-signup-btn">
                        <a id="start-now-plus1" class="btn waves-effect waves-block waves-light no-margin white-text red darken-2" style="padding: 0"
                            href="#">
                            <span class="dark-grey-text">Sign Up</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="page-footer" style="margin-top: 0px;">
    <footer-bar></footer-bar>
</footer>