<div class="container">
  <div class="row">
    <a class="grey-text text-lighten-3" style="margin-right:15px" href="sass.html">Course Library</a>
    <a class="grey-text text-lighten-3" style="margin-right:15px" href="badges.html">Challenges</a>
    <a class="grey-text text-lighten-3" style="margin-right:15px" href="collapsible.html">Blog</a>
    <a class="grey-text text-lighten-3" style="margin-right:15px" href="collapsible.html">Plans</a>
    <a class="grey-text text-lighten-3" style="margin-right:15px" href="collapsible.html">About</a>
    <a class="grey-text text-lighten-3" style="margin-right:15px" href="collapsible.html">Contact Us</a>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Sweety Technologies © 2016
    <a class="grey-text text-lighten-4 right" style="margin-right:15px" href="#!">Terms and Conditions</a>
    <a class="grey-text text-lighten-4 right" style="margin-right:15px" href="#!">Privacy Policy</a>
    <a class="grey-text text-lighten-4 right" style="margin-right:15px" href="#!">Disclaimers</a>
    <a class="grey-text text-lighten-4 right" style="margin-right:15px" href="#!">FAQs</a>
  </div>
</div>