<header>
    <header-bar></header-bar>
</header>
<div class="container">
    <div class="row">
        <h3 class="center-align">Frequently Asked Questions</h3>
        <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>What are different modes of Payments?</div>
                <div class="collapsible-body">
                    <p>Currently you can pay only via PayUMoney if you are paying by money. Otherwise you can use SMW points
                        to buy courses.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>Can I cancel a course which I bought?</div>
                <div class="collapsible-body">
                    <p>No, once a course is bought you can not cancel it.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>Can I get refund?</div>
                <div class="collapsible-body">
                    <p>No, after buying if your transaction is successful you won’t get refund.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>What is programming challenge?</div>
                <div class="collapsible-body">
                    <p>We conduct programming challenges for every 2 weeks but not limited to. We put a problem and you have
                        to solve this by using program. You need to send this program to us.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>How winner is decided in programming challenge?</div>
                <div class="collapsible-body">
                    <p>Winner will be decided based on several factors such as,</p>
                    <ol>
                        <li class="faqs-li">Solution provided by program.</li>
                        <li class="faqs-li">Easiness the program to read and understand.</li>
                        <li class="faqs-li">Proper comments</li>
                        <li class="faqs-li">Proper indentation</li>
                        <li class="faqs-li">Proper usage of variable and function names.</li>
                        <li class="faqs-li">First prize to First participant who satisfies above 5 points.</li>
                        <li class="faqs-li">Second prize to Second participant who satisfies above 5 points.</li>
                        <li class="faqs-li">Third prize to Third participant who satisfies above 5 points.</li>
                    </ol>
                    <br><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>What are the prizes for programming challenge?</div>
                <div class="collapsible-body">
                    <ol>
                        <li class="faqs-li"><strong>First Prize</strong>: Rs. 200 Flipkart Gift Card</li>
                        <li class="faqs-li"><strong>Second Prize</strong>: 100 SMW points.</li>
                        <li class="faqs-li"><strong>Third Prize</strong>: 60 SMW points</li>
                        <li class="faqs-li"><strong>For other correct answers</strong>: 40 SMW points</li>
                        <li class="faqs-li"><strong>For all other participants</strong>: 30 SMW points</li>
                    </ol>
                    <br><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>How can I use SMW points?</div>
                <div class="collapsible-body">
                    <p>You can use SMW points for different purposes explain below,</p>
                    <ol>
                        <li class="faqs-li">To buy our courses: 1 SMW Point = Rs. 0.50, 1000 SMW points = Rs. 500</li>
                        <li class="faqs-li">To buy Flipkart Gift Card: 1 SMW Point = Rs. 0.25, 1000 SMW points = Rs. 250</li>
                        <li class="faqs-li">To donate for social welfare activities: 1 SMW Point = Rs. 0.75, 1000 SMW points = Rs. 750</li>
                    </ol>
                    <p>For all above you should have at least amount is Rs. 200. i.e, for</p>
                    <ol>
                        <li class="faqs-li">To buy our courses: minimum points: 400</li>
                        <li class="faqs-li">To buy Flipkart Gift Card: minimum points: 800</li>
                        <li class="faqs-li">To donate for social welfare activities: minimum points: 270</li>
                    </ol>
                    <br><br>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">play_for_work</i>Can I transfer SMW points to my friend?</div>
                <div class="collapsible-body">
                    <p>Yes, you can transfer but your friend should be registered member with us.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<footer class="page-footer" style="margin-top: 0px;">
    <footer-bar></footer-bar>
</footer>