<div class="container">
    <div *ngIf="isReady">
        <div class="row center-align">
            <a class="waves-effect waves-light btn" (click)="showOnly(0)">
                <div class="hide-on-med-and-down">
                    All
                </div>
                <div class="hide-on-large-only">
                    <i class="material-icons">stars</i>
                </div>
            </a>
            <a class="waves-effect waves-light btn" (click)="showOnly(1)">
                <div class="hide-on-med-and-down">
                    Beginner
                </div>
                <div class="hide-on-large-only">
                    <i class="material-icons">star</i>
                </div>
            </a>
            <a class="waves-effect waves-light btn" (click)="showOnly(2)">
                <div class="hide-on-med-and-down">
                    Intermediate
                </div>
                <div class="hide-on-large-only">
                    <i class="material-icons" style="color:yellow">star</i>
                    <i class="material-icons" style="color:yellow">star</i>
                </div>
            </a>
            <a class="waves-effect waves-light btn" (click)="showOnly(3)">
                <div class="hide-on-med-and-down">
                    Advanced
                </div>
                <div class="hide-on-large-only">
                    <i class="material-icons" style="color:red">star</i>
                    <i class="material-icons" style="color:red">star</i>
                    <i class="material-icons" style="color:red">star</i>
                </div>
            </a>
        </div>
        <div class="row">
            <div *ngFor="let cr of courseList; let idx = index">
                <div *ngIf="idx%2==0" class="row"></div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content black-text" style="padding: 5px;">
                            <span class="card-title">{{ cr.title }}</span>
                            <div class="divider"></div>
                            <small>
                            <div class="row valign-wrapper" style="margin-bottom:0px">
                                <div class="col s2">
                                    {{ cr.duration }}
                                </div>
                                <div class="col s3">
                                    Students {{ cr.students }}
                                </div>
                                <div class="col s2">
                                    {{ cr.level }}
                                </div>
                                <div class="col s5">
                                    <stars starCount="5" [rating]="cr.rating" disabled="true"></stars>
                                </div>
                            </div>
                            </small>
                            <div class="divider"></div>
                            <div class="row" style="margin:5px">
                                <p>{{ cr.shortDesc }}</p>
                            </div>

                            <div class="row" style="margin:0px">
                                <div class="col s12">
                                    <strong>by {{ cr.author }}
                                on {{ cr.releaseDate | date }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-action center-align" style="padding: 5px;">
                            <a *ngIf="cr.discount == 0" class="btn"><i class="material-icons left">shopping_cart</i>{{ cr.finalPrice | currency:'INR':false }}</a>
                            <a *ngIf="cr.discount != 0" class="btn">
                                <i class="material-icons left">shopping_cart</i> {{ cr.finalPrice | currency:'INR':false
                                }}
                                <small><s>{{ cr.price }}</s></small> {{ cr.discount }}% off
                            </a>
                            <div class="hide-on-med-and-up">
                                <p></p>
                            </div>
                            <a [routerLink]="['/course', cr.id]" class="btn"><i class="material-icons"
                                materialize="tooltip" data-position="bottom" data-delay="10" data-tooltip="Read More"
                                >trending_flat</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isReady">
        <div class="row center-align">
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>